{% extends "examinator/home_page.html" %} 

{% block title %}{{ title }}{% endblock %}


{% block content %}

    <div class="justify-content-center">
        <h3 class="text-center">Створити запитання та можливі відповіді</h3>

        <form method="post">
            {% csrf_token %}
            
            <fieldset>
                {{ question_form.as_p }}
            </fieldset>
            
            <fieldset>
                <legend>Відповіді</legend>
                {{ answer_formset.management_form }}
                {% for form in answer_formset %}
                    <div>
                        {{ form.as_p }}
                    </div>
                {% endfor %}
            </fieldset>
            
            <button type="submit">Зберегти</button>
        </form>
    </div>
{% endblock %}
