{% extends 'examinator/base_examinator.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h4 class="text-center bg-secondary m-2 p-2 rounded">
    {{ test_paper.knowledge_test.title }}. 
    Білет N{{ test_paper.ordinal_number }}
  </h4>

  {% for question in test_paper.questions.all %}
    <p class="bg-info my-2 p-2 rounded link-underline link-underline-opacity-0">
      <a href="{% url 'examinator:question_answers' question_id=question.id %}"
         class="text-dark link-underline link-underline-opacity-0"
      >
      {{ question.ordinal_number }}). {{ question.question_text }}
      </a>
    </p>
  {% endfor %}

{% endblock %}